{% extends 'layouts/bootstrap4.html.twig' %}

{% block head_stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('race-editor') }}
{% endblock %}

{% block content %}
  <div class="container my-4">
    <h1>
      {{ race.getName() }}
      <a href="{{ url('races.detail', {
        raceSlug: race.getSlug(),
      }) }}" class="btn btn-sm btn-primary">
        Back to Race
      </a>
      <a href="{{ url('seasons.detail', {
        seasonSlug: race.getSeason().getSlug(),
      }) }}" class="btn btn-sm btn-primary">
        Back to Season
      </a>
    </h1>
    <div id="root"></div>
  </div>
{% endblock %}

{% block body_javascripts %}
  {{ parent() }}
  <script>
    var appData = {
      race: {{ race.toArray() | json_encode | raw }},
      tyres: {{ app_tyres | json_encode | raw }},
      race_driver_statuses: {{ app_race_driver_statuses | json_encode | raw }},
    };
  </script>
  {{ encore_entry_script_tags('race-editor') }}
{% endblock %}
