{% extends 'layouts/bootstrap4.html.twig' %}

{% block head_stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('race-editor') }}
{% endblock %}

{% block content %}
  <div class="container my-4">
    <h1>{{ race.getName() }}</h1>
    <div id="root"></div>
  </div>
{% endblock %}

{% block body_javascripts %}
  {{ parent() }}
  <script>
    var appData = {
      race: {{ race.toArray() | json_encode | raw }},
    };
  </script>
  {{ encore_entry_script_tags('race-editor') }}
{% endblock %}
